.waf-widget.waf-select2widgetAdvanced {

}

.select2WakWidget {
	width:100%;
	height:100%;
	
}
.selectableInStudio {
	
	width:100%;
	height:100%;
	z-index: 999;
	position:inherit;
	top:0px;
	left:0px;
	
	
}




/*add this to application.ss to make it follow same as soft.gray theme*/


/*.select2-container-active .select2-choice{*/
/*    border: 1px solid rgb(131,131,131) !important;*/
/*    outline: none !important;*/

/*    -webkit-box-shadow: none !important;*/
/*    box-shadow: none !important;*/
/*}*/



/*.select2-container .select2-choice {*/
/*	line-height :20px !important;*/
/*	border-radius: 3px !important;*/
/*	color: rgb(102, 102, 102) !important;*/
/*	border: 1px solid rgb(204, 204, 204) !important;*/
/*	padding: 0px 4px !important;*/
/*}*/

/*.select2-container .select2-choice .select2-arrow b {*/
/*	background: url('select2.png') no-repeat 0 -1.5px !important;*/
/*}*/
